.CtagorisFilter {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    border-radius: 5px;
    flex-wrap: wrap;
}

.CtagorisFilter ul {
    margin-right: 2rem;
}

.CtagorisFilter ul li button {
    border: 2px solid var(--logoColor-1);
    padding: 7px 20px;
    border-radius: 25px;
    background: none;
    color: black;
    font-weight: 400;
}

.CtagorisFilter ul li:not(:last-child) {
    margin-right: 1.5rem;
}

.priceFilter {
    width: 200px;
}

.priceFilter {
    margin-top: -20px;
}

.Catagori3:not(:last-child) {
    border-bottom: 1px solid rgb(175, 175, 175);
}

.Catagori3 a {
    padding: 5px 0px;
    color: rgb(71, 71, 71);
    margin-bottom: 0;
    display: block;
}

.Catagori3 a:hover {
    color: var(--logoColor-2);
}

@media screen and (max-width: 1023px) {
    .CtagorisFilter ul li:not(:last-child) {
        margin-right: .5rem;
    }
}

@media screen and (max-width: 575px) {
    .CtagorisFilter {
        margin-top: 1rem !important;
    }

    .CtagorisFilter ul li button {
        margin-bottom: 1rem !important;
        padding: 3px 10px;
        font-size: 16px;
    }

    .CtagorisFilter ul {
        margin-right: 0rem;
    }
}