
.mainDiv{
    border-right: 2px solid white;    
    max-height: 280px;
    overflow: scroll;
    overflow-x: hidden;
}

.reviewCard{
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-right: 3px;
    border-bottom: 2px solid rgb(251, 251, 251);
}

.reviewCard img{
    border-radius: 50%;
    width: 60px;
}

.reviewCard h5{
    margin-bottom: 5px;
    color: var(--logoColor-1);
}

.reviewCard p{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 15px;
}

@media screen and (max-width: 1024px) {
    .reviewCard{
        margin-right: 0px;
    }

    .mainDiv{
        border-right: 0px solid rgb(251, 251, 251);
    }
}