.paymentOffer{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    /* border-top: 2px solid black; */
}

.paymentOfferCard{
    margin-bottom: 20px;
}

.paymentOfferCard img{
    height: 65px;
    width: 65px;
    margin-bottom: 10px;
}

.paymentOfferCard p{
    margin-bottom: 5px;
    font-weight: 500;
}

@media screen and (min-width: 767px) {
    .w20{
        width: 20%;
    }
}