.title {
    margin-bottom: 40px;
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 700;
    color: #0a4a63;
    letter-spacing: 3px;
    text-align: center;
}

.productCard {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.imageBox {
    height: 320px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #f2f2f2;
    border-radius: 8px;
    align-items: center;
    overflow: hidden;
}

.imageBox img {
    max-height: 320px;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    transition: all 1.7s;
}

.productCard:hover img {
    scale: 1.3;
}

.productCard p {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 19px;
}

@media screen and (max-width: 1024px) {
    .imageBox {
        height: 250px;
    }

    .imageBox img {
        max-height: 250px;
    }

    .title {
        margin-bottom: 20px;
    }
}